@tailwind base;
@tailwind components;
@tailwind utilities;

*::selection {
    color: white;
    background-color: #7E98DF;
    -webkit-text-stroke-width: 0em;
}

::-webkit-scrollbar {
    width: 0.50vw;
}

::-webkit-scrollbar-track {
    box-shadow: inset 1rem 1rem var(--bs-gray-200);
    border-radius: 0.1vw;
}

::-webkit-scrollbar-thumb {
    background: #7E98DF;
    border-radius: 0.5vw;
}

::-webkit-scrollbar-thumb:hover {
    background: #7E98DF;
}

.editableContent[contentEditable="true"]:empty:not(:focus):before {
    content: attr(placeholder);
    color: #848484;
    text-align: start;
    vertical-align: baseline;
    display: flex;
    align-items: center;
}

.editableContent[contentEditable="true"]:empty:focus:before {
    content: ''
}
